.container {
  width: calc(100% - 220px);
  margin-left: 220px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.infoRow {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.section {
  flex: 1;
  min-width: 300px;
}

.sectionTitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.details {
  padding: 1rem;
}

/* mobile styles */
@media (max-width: 768px) {
  .main {
    width: 100%;
    margin-left: 0;
    margin-bottom: 11vh;
  }

  .container {
    padding: 0;
  }
}
