.main {
  padding: 2rem 0;
  width: calc(100% - 220px);
  margin-left: 220px;
}

.contentContainer {
  margin: 0 auto;
  padding: 0 2rem;
}

.headerSection {
  margin-bottom: 2rem;
  text-align: left;
}

.subtitle {
  color: var(--grey);
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.agentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.agentCardContainer {
  position: relative;
  width: 300px;
}

.deleteContainer {
  position: absolute;
  top: 0;
  right: -10px;
}

.deleteButton {
  background-color: #000;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.connectButton {
  padding: 12px 24px;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.connectButton:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    margin-left: 0;
    margin-bottom: 12vh;
  }
}
